.parentPane {
  -fx-background-color: #fff;
}
.CubicCurve {
  -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.button {
  -fx-background-color: #00977c;
  -fx-text-fill: #fff;
  -fx-font-size: 14;
  -fx-animated: true;
}
.button:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #00977c;
  -fx-font-size: 14;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: #00977c;
  -fx-border-radius: 5px;
  -fx-text-fill: #00977c;
}
.paneGlass {
  -fx-background-color: #ffffff8c;
  -fx-border-width: 1;
  -fx-border-color: #fff;
}

/* Style sign in */

.panePresentation {
  -fx-background-color: #2fd276;
  -fx-effect: dropshadow(three-pass-box, black, 10, 0, 1, 0);
}

.paneSignIn {
  -fx-background-color: #fff;
}

.field {
  -fx-border-color: transparent transparent green transparent;
  -fx-border-width: 0 0 1 0;
  -fx-font-family: fantasy;
  -fx-font-size: 13px;
  -fx-background-color: transparent;
}
.field:focused {
  -fx-border-color: green;
  -fx-border-width: 1;
  -fx-border-radius: 3px;
}
.button2 {
  -fx-background-color: #00977c;
  -fx-text-fill: #fff;
  -fx-font-size: 14;
}
.button2:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #00977c;
  -fx-font-size: 14;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: #00977c;
  -fx-border-radius: 5px;
  -fx-text-fill: #00977c;
}
.radio-button .radio {
  -fx-border-color: green;
  -fx-border-width: 1;
  -fx-border-radius: 50%;
  -fx-background-color: transparent;
}

.buttonBack{
  -fx-background-color: tramsparent;
}